
config wifi-device 'radio0'
	option type 'mac80211'
	option channel '36'
	option hwmode '11a'
	option htmode 'VHT80'
	option country 'AU'
	option path 'soc/soc:pcie/pci0000:00/0000:00:01.0/0000:01:00.0'
	option legacy_rates '1'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option mode 'ap'
	option macaddr '16:91:82:c2:58:cc'
	option ssid '{{ wireless.radio0.ssid }}'
	option encryption 'psk2'
	option key '{{ wireless.radio0.key }}'
	option wpa_disable_eapol_key_retries '1'
	option network 'lan'

config wifi-device 'radio1'
	option type 'mac80211'
	option channel '11'
	option hwmode '11g'
	option htmode 'HT20'
	option country 'AU'
	option path 'soc/soc:pcie/pci0000:00/0000:00:02.0/0000:02:00.0'
	option legacy_rates '1'

config wifi-iface 'default_radio1'
	option device 'radio1'
	option mode 'ap'
	option macaddr '16:91:82:c2:58:cb'
	option ssid '{{ wireless.radio1.ssid }}'
	option encryption 'psk2'
	option key '{{ wireless.radio1.key }}'
	option wpa_disable_eapol_key_retries '1'
	option network 'lan'

