config ddns 'global'
        option ddns_dateformat '%F %R'
        option ddns_loglines '250'
        option upd_privateip '0'

config service 'myddns_ipv4'
        option interface 'wan'
        option ip_source 'network'
        option ip_network 'wan'
        option enabled '1'
        option lookup_host '{{ ddns.ipv4.lookup_host }}'
        option service_name '{{ ddns.ipv4.name }}'
        option password '{{ ddns.ipv4.password }}'

config service 'myddns_ipv6'
        option interface 'wan6'
        option ip_source 'network'
        option ip_network 'wan'
        option enabled '0'
        option lookup_host '{{ ddns.ipv6.lookup_host }}'
        option service_name '{{ ddns.ipv6.name }}'
        option password '{{ ddns.ipv6.password }}'
